@keyframes move-it {
    0% {
        background-position: initial;
    }

    100% {
        background-position: 100px 0px;
    }
}

.active,.navbar-brand{
        color:#363062 !important;
}

.nav-link{
    color: #4D4C7D !important;
    cursor:pointer;
}

body {
    background: repeating-linear-gradient(45deg,
            #4D4C7D 0%,
            #4D4C7D 25%,

            #363062 25%,
            #363062 50%,

            #4D4C7D 50%,
            #4D4C7D 75%,

            #363062 75%,
            #363062 100%);
    background-size: 100px 100px;
    animation: move-it 7s linear infinite;
} 

.btn-continue,.btn-continue:hover:active{
    background-color: #363062 !important;
    color:white !important;
    border: none !important;
} 

.btn-continue:hover{
    background-color: #198754 !important;
    color:white !important;
}

.btn-abort,.btn-abort:hover:active{
    background-color: #7f7e97 !important;
    color:white !important;
    border: none !important;
}


.btn-abort:hover{
    background-color: #d14545 !important;
    color:#4e0d0d !important;
}